.body {
    fill: white;
    stroke: gray;
    stroke-width: 1px;
}
        
.hat {
    fill: black;
    stroke: black;
    stroke-width: 3px;
}
        
.button {
    fill: black;
}
        
.eye {
    fill: red;
}
        
.nose {
    fill: orange;
}


/* 
    The following style to fill the background color of svg is not a nice hack. 
    It may not work on some browser. You should fill each shape and fill a rectangle 
    containing the whole space for the correct way to do it
*/
svg{
    background-color: sandybrown;    
}

